1. Import

In [30]:
import pandas as pd
# import data
data = pd.read_csv('Crime_Data_from_2020_to_Present.csv')
print(len(data))
# data.head()

852950

2. Clean Data

In [31]:

# Checking for duplicate entries
duplicate_rows = data.duplicated().sum()
print("重复行数：", duplicate_rows)
# Analyzing the data types of each column to see if any conversions are needed
data_types = data.dtypes

# print("missing_values:", missing_values, "duplicate_rows:", duplicate_rows, "data_types:", data_types)

# 提取需要用到的数据：
# 返回三个DataFrame数据集：有用的数据（包括特征列、标签列以及全称（如犯罪描述列））、特征、标签
def get_usefulData_feature_label(data):

    # 用字符串"Unknown"代替数据中的缺失值.
    # 有空值的数据列替换空值后，该数据列的dtype仍然为object
    def fill_the_blank(data):
        data.fillna("Unknown", inplace=True)
    
    # 检查数据中是否还有空值
    def check(data):
        return data.isnull().sum().sum() == 0
    
    # Convert date columns to datetime
    data['date_occurred'] = pd.to_datetime(data['date_occurred'])

    # 1、提取相应列
    useful_data = data[['date_occurred','area','area_name','victim_age','victim_sex','victim_descent','latitude','longitude','crime_code','crime_description','premise_code','premise_description','weapon_code','weapon_description']]
    feature = data[['date_occurred','area','victim_age','victim_sex','victim_descent','latitude','longitude']]
    label = data[['crime_code','premise_code','weapon_code']]

    # 2、填补缺失值
    fill_the_blank(useful_data)
    fill_the_blank(feature)
    fill_the_blank(label)

    # 3、如果检查没有空值则返回数据
    if check(useful_data) and check(feature) and check(label):
        print("空值已处理")
        return useful_data, feature, label
    
    raise ValueError("Some values are not valid.") 


useful_data, feature, label = get_usefulData_feature_label(data)

print(feature['victim_sex'].dtype)
feature.head()

重复行数： 0

/var/folders/jq/2vvn3lwd2ybgjz3x9__s2s9w0000gn/T/ipykernel_14310/4272912286.py:16: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.fillna("Unknown", inplace=True)
/var/folders/jq/2vvn3lwd2ybgjz3x9__s2s9w0000gn/T/ipykernel_14310/4272912286.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.fillna("Unknown", inplace=True)

空值已处理
object

,date_occurred,area,victim_age,victim_sex,victim_descent,latitude,longitude
0,2020-01-08 22:30:00,3,36,F,B,34.0141,-118.2978
1,2020-01-01 03:30:00,1,25,M,H,34.0459,-118.2545
2,2020-02-13 12:00:00,1,0,X,X,34.0448,-118.2474
3,2020-01-01 17:30:00,15,76,F,W,34.1685,-118.4019
4,2020-01-01 04:15:00,19,31,X,X,34.2198,-118.4468